* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo
{
    height: 8%;
    width: 7%;
}
.card-img-top  /*image should look good with same size*/
{
    width: 100%;
    height: 100px;
    object-fit: contain;  /*if the item was squeezed*/
    

}
